extends ../layout.pug

block stylesheet 
    link(href="/css/audio.css" rel="stylesheet")

block content 
    .container
        .row
            .col.col-12.col-lg-6.mt-4
                form(action="/search" method="get")
                    .input-group
                        span.input-group-text 
                            i.fa.fa-search
                        input(type="search" id="keyword" name="keyword" value=keyword) 
                        button(type="submit") Chercher 

            .col.col-12.col-lg-6.mt-4
                input(type="hidden" id="artist_song" value="")
                input(type="hidden" id="title_song" value="")

                if musics
                    <div id="amazingaudioplayer">
                        <div class="amazingaudioplayer-image">
                            <img id="cover" src="" style="width:100%;max-width:100%;vertical-align:middle;">
                        </div>
                        <div class="amazingaudioplayer-image-clear"></div>
                        <div class="amazingaudioplayer-text">
                            <div class="amazingaudioplayer-title"></div>
                            <div class="amazingaudioplayer-info"><br></div>
                        </div>
                        <div class="amazingaudioplayer-text-clear"></div>
                        <div class="amazingaudioplayer-bar">
                            <div class="amazingaudioplayer-controls">
                                audio#listenTopMusic.hide(controls)
                            </div>
                            <div class="amazingaudioplayer-bar-buttons-clear"></div>
                        </div>
                        <div class="amazingaudioplayer-bar-clear"></div>
                        <hr>
                        ul#listMusic.with-overflow                        
                            for track in musics
                                li 
                                    a(href="javascript:;" data-cover=track.cover data-title=track.title data-artist=track.artist_name data-music=track.preview) #{track.title}
                    </div>
    
    script(src="/js/blindTest.js")
    script(src="/js/voice.js")
    script(src="/js/main.js")