extends ../layout.pug

block content 
    .container
        h1 #{playlist.name}

        if musics
            form(method="post")
                table.table
                    tbody(style="display: block;max-height:400px; overflow:auto")  
                        each music in musics
                            tr
                                th 
                                    if (playlist.songs.find((song) => song.id_rapid_api_deezer == music.id_rapid_api_deezer)!=undefined)
                                        input(type="checkbox" name="songs" Value=music.id checked="checked")
                                    else 
                                        input(type="checkbox" name="songs" Value=music.id)
                                td #{music.title}
                                td #{music.artist_name}
                                td(style="width:100%")
                    tfoot 
                        tr 
                            td.text-center(colspan=3) 
                                button.btn.btn-primary(type="submit") Enregistrer